.trispace {
  font-family: "Trispace", sans-serif;
}

.fingerpaint {
  font-family: "Finger Paint", cursive;
  letter-spacing: 5px;
}
.navbar{
  box-shadow: 0 3px 6px rgba(var(--bs-secondary-rgb),.2);
}

nav li {
  cursor: pointer;
}
.quote {
  letter-spacing: normal;
}

.typewriter {
  color: #6e85b7;
}

.line {
  width: 1800px;
}

.icons :hover {
  cursor: pointer;
}
.github :hover {
  color: #6e5494;
}

.linkedin :hover {
  color: #0a66c2;
}

.gmail :hover {
  color: #c71610;
}
#home {
  height: 800px;
}

#about {
  height: 800px;
}

#skills {
  height: 800px;
}

#project {
  height: 800px;
}

#contact {
  height: 800px;
}


/* about-page */

.about-head{
  letter-spacing: 1px;
}
.about-title{
  color: #1e46c2;
}

.context{
  font-size: larger;
  font-weight: 500;
}

.list{
  list-style: none;
  margin-left: 70px;
  line-height: 70px;
  font-size: larger;
}

/* skill page */


.html{
  font-size: 70px;
}
.css{
  margin-top: 15px;
  font-size: 45px;
}
.js{
  font-size: 43px;
  margin-top: 10px;
}
.bs{
  margin-left: 5px;
  margin-top: 10px;
  font-size: 60px;
}
.react{
  margin-top: 10px;
  font-size: 55px;
}
.node{
  margin-top: 8px;
  font-size: 55px;
}
.ex{
  margin-top: 8px;
  font-size: 55px;
}
.mdb{
  margin-top: 8px;
  font-size: 50px;
}
.npm{
  margin-top: 0px;
  font-size: 65px;
}
.git{
  margin-top: 8px;
  font-size: 50px;
}
.sicon{
  
  font-weight: 550;
}
.none{
  display: none;
}
.skill-icon{
  margin-top:150px !important;
  row-gap: 50px;
  letter-spacing: -2px;
}

.html:hover,
.css:hover,
.js:hover,
.bs:hover,
.react:hover,
.node:hover,
.ex:hover,
.mdb:hover,
.npm:hover,
.git:hover{
  transform: scale(2);
  display: inline;
}
.profile{
padding: 0px;
}
@media (max-width: 991px) {
  #home {
    margin-top: 80px;
    text-align: center;
    height: 550px;
  }
  .intro{
    font-size: large;
    letter-spacing: normal;
  }

  .typewriter {
    letter-spacing: normal;
  }
  .profile2 {
    display: inline;
  }

  /* about-page */
  .about-head{
    font-size: 20px;
    margin-left:20px  ;
    margin-top: 20px;
  }

  .about-title{
    font-size: 15px;
    letter-spacing: normal;
  }

  .context{
    font-size: small;
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: .5rem;
    margin-top: 0.5rem;
    padding: 1em;
    word-spacing: 2px;
  }
  .list{
    font-size: small;
    line-height: 30px;
    margin-left: 35px;
  }

  /* skill page */
   /* skill page */
   .html{
    font-size: 80px;
    margin-right: 10px;
  }
  .css{
    margin-right: 10px;
    font-size: 55px;
  }
  .js{
    font-size: 53px;
    margin-right: 10px; 
    margin-left: 10px;
  }
  .bs{
    margin-left: 15px;
    font-size: 50px;
  }
  .react{
    
    font-size: 50px;
  }
  .node{
    margin-right: 10px; 
    margin-left: 10px;
    font-size: 50px;
  }
  .ex{
    margin-right: 10px; 
    margin-left: 15px;
    font-size: 55px;
  }
  .mdb{
    
    font-size: 50px;
  }
  .npm{
    margin-right: 10px; 
    margin-left: 10px;
    font-size: 55px;
  }
  .git{
    margin-right: 10px; 
    margin-left: 15px;
    font-size: 50px;
  }
  .sicon{
    font-size: smaller;
    font-weight: 550;
  }
  .skill-icon{
    margin-top:30px !important;
    row-gap: 30px;
    letter-spacing: -2px;
    display: grid !important;
    grid-template-columns: auto auto auto;
  }
  
}
@media (max-width: 1230px) {
  .skill-icon{
    margin-top:30px !important;
    row-gap: 30px;
    letter-spacing: -2px;
    display: grid !important;
    grid-template-columns: auto auto auto;
  }
}
@media (max-width: 576px) {
  .skill-icon{
    margin-top:30px !important;
    row-gap: 30px;
    letter-spacing: -2px;
    display: grid !important;
    grid-template-columns: auto auto auto;
  }
}
